* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    border: 1px solid black;
    /* margin-top: 15px;
    margin-left: 15px; */
}

#advent-container {
    display: flex;
    flex-wrap: wrap;
}

/* FLEX GROW!!!!!! */